{
  "presets": [
    ["@babel/env", { "modules": false }]
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/env", { "targets": { "node": "current" }}]
      ]
    }
  },
  "plugins": [
    ["@babel/transform-runtime", {
      "regenerator": true,
      // https://babeljs.io/docs/en/babel-plugin-transform-runtime#absoluteruntime
      "absoluteRuntime": true
    }]
  ]
}
